<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link href="http://fonts.googleapis.com/css?family=Roboto:300&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <!-- build:style scss -->
  <!-- /build -->
</head>
<body id="ng-app" ng-app="NewApp">
  <header>
    <div class="logo-block">
        <div class="close-that-popup" style="display:none;"></div>
        <!-- <a href="javascript:;" class="tap-menu" ng-click="hiddenMenu='active'"></a> -->
        <a href="javascript:;" class="tap-menu" ng-click="menu=!menu"></a>
        <div class="main_menu transition-links" ng-show="menu">
          <div class="menu_logo">
            <a id="top" href="http://www.airomo.net/" title="" target="_blank">
              <img src="img/menu_logo.png" alt="">
            </a>
          </div>
          <ul>
         <!--    <dd ng-class="{'bold':content}"><a ng-click="content=true">Contents</a></dd>
            <dd ng-class="{'bold': !content}"><a ng-click="content=false">Comments</a></dd> -->

            <li ng-click="menuItems('search')" ng-class="{active:menuItem=='search'}">
              <a href="#search" ng-click="menu=''" title="">Search</a>
            </li>
            <li ng-click="menuItems('explore')" ng-class="{active:menuItem=='explore'}">
              <a href="#explore" ng-click="menu=''" title="">Explore</a>
            </li>
            <li ng-click="menuItems('tags')" ng-class="{active:menuItem=='tags'}">
              <a href="#tags" ng-click="menu=''" title="">Tags</a>
            </li>
            <li ng-click="menuItems('categories')" ng-class="{active:menuItem=='categories'}">
              <a href="#category" ng-click="menu=''" title="">Categories</a>
            </li>
            <li>
              <!-- <a href="javascript:;" ng-click="tapMenu='active'" title="">Settings</a> -->
              <a href="javascript:;" ng-click="custom=!custom; isActive = !isActive" ng-class="{'button': !isActive, 'button active': isActive}" ng-init="isActive = false" title="">Settings</a>
                <!-- <div class="tap-menu-block" ng-class="tapMenu"> -->
                <div class="tap-menu-block" ng-show="custom">
                  <div class="tap-inner-block stores-block">
                    <h3>Supported App Stores</h3>
                    <div class="tap-inner-btns clr" id="stores-template">
                      <label ng-click="checkStore(1)" ng-class="{active:stores=='1'}">iTunes</label> <!--ng-if="isDesctop"-->
                      <label ng-click="checkStore(2)" ng-class="{active:stores=='2'}">Google Play</label>
                      <label ng-click="checkStore(3)" ng-class="{active:stores=='3'}">Amazon</label>
                      <label ng-click="checkStore(5)" ng-class="{active:stores=='5'}">Wandoujia</label>
                      <label ng-click="checkStore(4)" ng-class="{active:stores=='4'}">Nook</label>
                      <label ng-click="checkStore(7)" ng-class="{active:stores=='7'}">9Apps</label>
                      <label ng-click="checkStore(6)" ng-class="{active:stores=='6'}">Mozilla</label>
                    </div>
                  </div>

                  <div class="tap-inner-block dev-template-block">
                    <h3>Supported Devices</h3>
                    <div class="tap-inner-btns clr" id="devices-template">
                      <label ng-click="checkDevice(1)" for="check-phones">Phones</label>
                      <label ng-click="checkDevice(2)" for="check-tablets">Tablets</label>
                    </div>
                  </div>

                  <div class="tap-inner-block dispTemplate-block">
                    <h3>Display Style</h3>
                    <div class="tap-inner-btns clr" id="displayTemplate">
                      <label ng-click="hiddenScreen(true)" ng-class="{active:hideImgs==true}">Simple</label>
                      <label ng-click="hiddenScreen(false)" ng-class="{active:hideImgs==false}">Colorful</label>
                    </div>
                  </div>
                </div><!-- /.tap-menu-block -->
            </li>
            <li ng-click="menuItems('about')" ng-class="{active:menuItem=='about'}">
              <a href="http://www.airomo.com/" ng-click="menu=''" title="">About</a>
            </li>
          </ul>
        </div>
        
        <a href="http://www.airomo.com/" target="_blank" class="logo-link">
          <div class="logo"></div>
        </a>
    </div>
  </header>

  <div ng-view></div>
  
  <div class="go-top-cont">
    <img class="search-button-loader" src="img/loader.gif">
  </div>

  <a href="javascript:;" class="go-top">&#9650;</a>
  <!-- build:script libs -->
  <!-- /build -->
  <!-- build:script app -->
  <!-- /build -->
  <!-- build:script controllers -->
  <!-- /build -->
</body>
</html>